# The name of the project, used for the Docker container names
COMPOSE_PROJECT_NAME=laranuxt

# The project's local base directory
PROJECT_BASE_DIR=../

# The "work" directory inside the containers
WORK_DIR=/var/www

# Project's XDebug info
PROJECT_XDEBUG_MODE=develop,debug,coverage
PROJECT_XDEBUG_CONFIG=

# MySQL settings
# Also note the SQL scripts in mysql/docker-entrypoint-initdb.d/!
MYSQL_DATABASE=laranuxt
MYSQL_USER=admin
MYSQL_PASSWORD=
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=
